@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 249, 249, 249;
}

@font-face {
  font-family: "Abhaya Libre";
  src: url("/fonts/abhaya-libre-regular.woff2") format("woff2"),
    url("/fonts/abhaya-libre-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Great Vibes";
  src: url("/fonts/great-vibes-regular.woff2") format("woff2"),
    url("/fonts/great-vibes-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Silenter";
  font-style: italic;
  font-weight: 400;
  src: local("Silenter"),
    url("https://fonts.cdnfonts.com/s/55457/Silenter-JRypj.woff") format("woff");
}

body {
  font-family: "Times New Roman", sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}
